@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
html, body {
    padding: 0;
    margin: 0;

}

.navigation-bar {
    display: flex;
    flex-direction: row;
    background-color: #161616;
    width: 100%;
    height: 7vh;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 999999999;
}

.nav-links {
    display: flex;
    flex-direction: row;
}

.nav-links nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding-right: 35px;
    padding-top: 7px;
}

.nav-links nav ul li {
    padding: 10px;
}

.nav-links nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 2vh;
}

.nav-links nav ul li a:hover {
    text-decoration: underline;
}

.logo {
    padding-top: 3px;
    margin-right: 0px;
    padding-left: 5vw;


}
.logo-img{
    height: 50px;
}
.wrapper-menu {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 330ms ease-out;
    margin-right: 20px;
}
.wrapper-menu .line {
    background-color: white;
    border-radius: 5px;
    width: 100%;
    height: 2px;
}
.wrapper-menu .line.half {
    width: 50%;
}
.wrapper-menu .line.start {
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: right;
}
.wrapper-menu .line.end {
    align-self: flex-end;
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: left;
}
.wrapper-menu.open {
    transform: rotate(-45deg);
}
.wrapper.open-menu .line.start {
    transform: rotate(-90deg) translateX(3px);
}
.wrapper.open-menu .line.end {
    transform: rotate(-90deg) translateX(-3px);
}

.menu-button {
    padding-right: 20px;
}

.Introduction {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* background: linear-gradient(270deg, #a3eaf7, #ffadad); */
    animation: gradientAnimation 30s ease infinite;
    background-size: 400% 400%;
    padding: 20px;
    height: 100vh;

    transition: all 0.3s;

}
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.greeting {
    padding: 30px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    background-color: white;
    border-radius: 10%;
}

.grad-picture-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grad-picture {
    width: 100%;
    max-width: 500px; /* Adjust as needed */
    height: auto;
}

h1 {
    font-family: "Exo 2", sans-serif;
    font-style: normal;
    font-size: 9vw;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
}

.quote {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.25vw;
    margin-left: 20px;
    margin-top: 10px; /* Add a bit of margin for spacing */
    text-align: center;
}

/*..........................*/

.section {
    display: flex;
    color: white;
    font-size: 2em;
    position: relative;
    background-color: #fc0f0f;
    flex-direction: column;
}
.first{
    min-width: 40px;
}
.whoAmI {
    background-color: #161616;
    height: 27vw;
}
h2{
    font-family: "Anton SC", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2.5vw;
   

}
.name{
    
    font-size: 11vw;
    text-indent: 20;
}

/* Existing styles remain unchanged */

#scrollText {
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5.5vw;
    padding-bottom: 30;
    padding-left: 25px;
    position:absolute;
    transition: all 0.2s ease-out;
    color: white;
}

#scrollText.reveal {
    color: transparent;
}

#scrollText.reveal::after {
    content: "Nice to meet you";
    position: absolute;
    padding-left: 25px;
    top: 0;
    left: 0;
    font-size: 10vw;
    transform: translateX(15vw);
    transform: translateY(7vw);
    color: orange;
    white-space: nowrap;
}

.line1{
    height: 3vw;
    background: linear-gradient(to left, #ff7e5f, #feb47b);
    display: flex;
}
/*..........................*/

.alpha{
    /* height:200 ; */
    /* background-image:url("./Assets/plant.jpg"); */
    background: linear-gradient(to bottom, #200049, #ffadad);
    flex-direction: column;
}
.subsection{
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Aligns children to the right */
    align-content: center;
    place-items: center;
    min-height: 60vh;
    color: azure;
}
.wma-p{
    transition-delay: 500ms;
}
h3{
    font-family: "Playfair Display SC", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 9vw;
}
.top{
    /* padding-left: 30vw; */
    margin-top: 2.75vw;
    margin-left: 40vw;
    /* background-color: rgb(59, 54, 54); */
    font-size: clamp(2.7rem, 8.5vw, 8rem);
    text-align: center;
}
.accordion {
    width: 90%;
    max-width: 90%;
    margin: 2rem auto;
  }
  .accordion-item {
    background-color: #fff;
    background-color: rgba(255,255,255,0.5);
    color: #111;
    margin: 1rem 0;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
  }
  .accordion-item-header {
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
  }
  .accordion-item-header::after {
    content: "\002B";
    font-size: 2rem;
    position: absolute;
    right: 1rem;
  }
  .accordion-item-header.active::after {
    content: "\2212";
  }
  .accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  .accordion-item-body-content {
    font-family: "Exo 2", sans-serif;
    font-style: normal;
    padding: 1rem;
    line-height: 30px;
    border-top: 1px solid;
    border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
  }
  
  @media(max-width:767px) {
    html {
      font-size: 14px;
    }
  }
  .h3middle{
    padding-top: 10px;
    padding-bottom: 10px;
  }
    .summary{
    font-family: "Anton SC", sans-serif;
    font-weight: 00;
    font-style: normal;
    font-size: clamp(1.7rem, 3vw, 6rem);
    letter-spacing: 1px;
    padding-left:20px;
    padding-right: 20px;
    text-indent: 5vw;

    }
    .caps{
    font-size: clamp(2rem, 5vw, 4rem);
    color: black;
    }
    .hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
    transition-delay: 0.3s; /* Add delay here */
    }
    .show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition-delay: 0.3s; /* No delay when in view */
}

@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}

.logos{
    display: inline-flex;

}
.logo:nth-child(1){
    padding-left: 0%;
}
.logo:nth-child(2){
    transition-delay: 200ms;
}
.logo:nth-child(3){
    transition-delay: 300ms;
}
.logo:nth-child(4){
    transition-delay: 400ms;
}

.manipulate{
    width: 20vw;
}
.bubbles{
    padding: 10px;
    border-radius: 50%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-right: auto;
    height: 20px;
    height: 20px;
    background: linear-gradient(to left, #feb47b, #ff7e5f);
}
.one{
    width: 60%;
    height: 20px;
}
.two{
    width: 30%;
    margin-top: 10px;
}
.three{
    width: 15%;
    margin-top: 10px;
}
.bubble{
    padding: 10px;
    border-radius: 50%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-left: auto;
    height: 20px;
    background: linear-gradient(to left, #ff7e5f, #feb47b);
}

.four{
    margin-top:20px;
    width: 60%;
}
.five{
    width: 30%;
    margin-top: 10px;
}
.six{
    width: 15%;
    margin-top: 10px;
}
.lasth3{
    margin-right: auto;
    padding-left: 20px;
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #161616;
    height: 7vw;
}

.social-container {
    align-content: center;
    text-align: right;
    background-color: #161616;
    padding-right: 35px;
  }
  .social-icons {
    padding: 0;
    list-style: none;
  }
  .social-icons li {
    display: flex;
    display: inline-block;
    margin: 0.15em;
    position: relative;
    font-size: 3vw;
  }
  .social-icons i {
    color: #fff;
    top: 21px;
    left: 21px;
    transition: all 265ms ease-out;
    padding: 10px;
  }
  
  .social-icons a:hover:before {
    transform: scale(0);
    transition: all 265ms ease-in;
    padding:0px;
  }
  
  .social-icons a:hover i {
    transform: scale(1.6);
    -ms-transform: scale(1.6);
    -webkit-transform: scale(1.6);
    color: #ff003c;
    background: -webkit-linear-gradient(45deg, #ff7e5f, #feb47b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 265ms ease-in;
  }


  @media (max-width: 768px) {
    .navigation-bar {
        height: 9vw;
    }
    .nav-links {
        display: none; /* Hides the navigation links on mobile devices */
    }
    .Introduction {
        display: flex;
        flex-direction: column;
    }
    .logo-img{
        height: 30px;
        padding-left: 15px;
    }
    .wrapper-menu {
        height: 20px
    }
    .greeting{
        margin:0px;
    }
    h1 {
        font-size: 11.5vw;
    }
    .grad-picture {
        width: 100%;
        max-width: 300px; /* Adjust as needed */
        height: auto;
    }
    .quote{
        font-size: 1.74vw;
        font-weight: 800;
        transition: ease-in;
        text-align: center;
    }
    .whoAmI{
        height: 30vw;
        padding: 0px;
    }
    .name{
      padding-top: 20px;

    }
    #scrollText{
        padding-top: 0px;
        font-size: 6vw;
    }
    .accordion-item-header {
        font-size: 15px;
    }
    .social-container {
        display: inline;
        text-align: center;
        padding:0px;
    }
    .social-icons {
        margin: 5px;
    }
    .social-icons li{
        font-size: 5vw;
    }
}



::-webkit-scrollbar{
    width:5px;
}
::-webkit-scrollbar-track{
background: grey;
}
::-webkit-scrollbar-thumb{
background: linear-gradient( #ff7e5f, #feb47b);
border-radius: 10px;
}